<div class="example-container mat-elevation-z8">
	<mat-table #table [dataSource]="dataSource">

		<ng-container matColumnDef="title">
			<mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
			<mat-cell *matCellDef="let element"> 
				<a mat-button routerLink="/post/{{element.id}}">
					{{element.title}} 
				</a>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="created_at">
			<mat-header-cell *matHeaderCellDef> Created </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.created_at}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="updated_at">
			<mat-header-cell *matHeaderCellDef> Updated </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.updated_at}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="id">
			<mat-header-cell *matHeaderCellDef></mat-header-cell>
			<mat-cell *matCellDef="let element"> 
				<a mat-button (click)="delete(element.id)">
					Delete
				</a> 
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>

  	<mat-paginator 
  		#paginator
  		[length]="length"
        [pageSize]="20"
        (page)="onChange($event)">
  	</mat-paginator>
</div>